<form action="/login/check" method="post">
<div class="text-center p-5 m-5 border row" style="height:400px;">
<div class="col-12 text-center form-cotrol"><input name="Code" dir="rtl" type="text" placeholder=".کد را وارد کنید"></div>
<div class=" col-12 text-center form-cotrol"><button type="submit" class="btn btn-sucess">بررسی کد</button></div>
</div>
</form>