<form action="/login/login" method="post">
<div class="text-center p-5 m-5 border row" style="height:400px;">
<div class="col-12 text-center form-cotrol"><input name="Phone" dir="rtl" type="text" placeholder=".شماره تلفن را وارد کنید"></div>
<div class=" col-12 text-center form-cotrol"><button type="submit" class="btn btn-sucess">ارسال کد</button></div>
</div>
</form>