 <ul class="dropdown">
  @foreach(var item in StaticVariable.menu)
  {
    
    if(item.ParentId==0)
    {
      
      <li><a href="#home" class="active">@item.CategoryName</a> 
<ul>
      @foreach(var item2 in StaticVariable.menu)
  {
       if(item.Id==item2.ParentId)
    {
     <li><a ​  href="#home" class="active">@item2.CategoryName</a>
     <ul>
      @foreach(var item3 in StaticVariable.menu){
          if(item2.Id==item3.ParentId)
    {
      <li><a href="/home/Category?url=@item3.CategoryName " class="active">@item3.CategoryName</a></li> 
      }
       
    }
    </ul>
    </li>
        
  }  
  }
  </ul>
  </li>
  } 

  }
         </ul>
   
<br><br>

<div style="padding-left:16px">
  <h2>Client</h2>
</div>

 @* <ul class="dropdown">
        <li><a href="#">Menu</a>
            <ul>
                <li><a href="">Nice Dropdown Menu</a></li>
                <li><a href="">Submenu - 1</a></li>
                <li><a href="#">Dropdown</a>
                    <ul>
                        <li><a href="">Submenu - 1</a></li>
                        <li><a href="">Submenu - 2</a></li>
                        <li><a href="#">Dropdown</a>
                            <ul>
                                <li><a href="">Submenu - 1</a></li>
                                <li><a href="">Submenu - 2</a></li>
                                <li><a href="">Submenu - 3</a></li>
                            </ul>
                        </li>
                        <li><a href="">Submenu - 3</a></li>
                    </ul>
                </li>
                <li><a href="">Submenu - 2</a></li>
            </ul>
        </li>
    </ul> *@