<nav class="navbar navbar-expand-lg navbar-light bg-light" id="main_navbar">
      <div class="container-fluid" style="background-color:Sienna">
        <a class="navbar-brand" href="#">Menu</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             @foreach(var item in StaticVariable.menu)
             {if(item.ParentId==0){
                <li  class="nav-item dropdown">
              <a class="nav-link active" aria-current="page" href="#">@item.CategoryName</a>

                <ul class="dropdown-menu">
            @foreach(var item2 in StaticVariable.menu)
  {
       if(item.Id==item2.ParentId)
    {
                <li class="nav-item dropdown">
                  <a
                    class="dropdown-item dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                  >
                    @item2.CategoryName
                  </a>
                  <ul class="dropdown-menu">
                  @foreach(var item3 in StaticVariable.menu){
            if(item2.Id==item3.ParentId)
      {
        <li><a class="dropdown-item" href="/home/Category?url=@item3.CategoryName">@item3.CategoryName</a></li>
        
        } 
       
      }
     </ul>
                       
    </li>}}</ul>
    </li>
             }
             }
          </ul>
 
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <br><br>
  